<footer class="footer">
    <div class="container">
        <p class="text-white p-1"></p>
        &copy; Jonathan Aguilera Caro
        
       <a href="mailto:jaguilera277@gmail.com" target="a-blank">jaguilera277@gmail.com </a>
     
       <a >(+57) 3102533359 / (+57) 3005470957</a> 
        <!-- Facebook -->
<i class="fa fa-facebook-f p-2"></i>

<!-- Twitter -->
<i class="fa fa-instagram p-2"></i>

<!-- Google -->
<i class="fa fa-linkedin p-2"></i>

<!-- Instagram -->
<i class="fa fa-github p-2"></i>

<!-- Linkedin -->
<i class="fa fa-whatsapp p-2"></i>
    </div>
</footer>