<div >
<body >
  <div class="container mt-5 " >
    <table class="table table-dark rounded-3">
      <thead>
        
      </thead>
      <tbody>
        <tr class="table-active">
      
        </tr>
        <tr>
          <th scope="row"></th>
          <td colspan="2" class="table-active">Tipo de documento</td>
          <td>Descripcion</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td colspan="2" class="table-active">Cedula de ciudadania</td>
          <td>80214790</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td colspan="2" class="table-active">Estado Civil</td>
          <td>Casado</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td colspan="2" class="table-active">Direccion</td>
          <td>Conjunto Brisas de Agua Blanca calle 19 # 38 -92 apto 111 torre A (Girardot)</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td colspan="2" class="table-active">Telefono</td>
          <td>+57-3005470957 / +57-3102533359</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td colspan="2" class="table-active">Correo Electronico</td>
          <td>jaguilera277@gmail.com</td>
        </tr>
      </tbody>
    </table>
  </div>    
</body>
</div>

