
<div class="container mt-2 w-100 p-10 me">
    <div class="card border-dark mb-3" style="max-width: 80%;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="assets/img/Screenshot_1.png " class="photo"alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title text">JONATHAN SEBASTIAN AGUILERA CARO</h5>
            <p class="card-text">Tengo conocimientos como desarrollador web full stack utilizando las herraminetas HTML, CSS, JAVASCRIPT, NODEJS, ANGULAR y las bases de datos MySql, MongoDb</p>
            <p class="card-text"><small class="text-muted"></small>Tengo amplia experiencia en la instalacion de equipos de comunicaciones en diferentes tipos de tecnologias SDH, ADSL,DWDM, RF</p>
           
          </div>
        </div>
      </div>
    </div>
  
    <div class="">
     <img src="assets/img/html-5.png" class="logo" alt="">
     <img src="assets/img/css.png" class="logo" alt="">
     <img src="assets/img/angular.png" class="logo"alt="">
     <img src="assets/img/javascript.png" class="logo" alt="">
     <img src="assets/img/json.png" class="logo" alt="">
     <img src="assets/img/mongodb.png" class="logo" alt="">
     <img src="assets/img/mysql.png" class="logo"alt="">
     <img src="assets/img/nodejs.png" class="logo" alt="">
    </div>
     


