<div class="container mt-5 ">
<table class="table table-dark">
    <thead>
      
    </thead>
    <tbody>
      <tr class="table-active">
    
      </tr>
      <tr>
        
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2" class="table-active">Empresa</td>
        <td>Cargo</td>
        <td>Funciones</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2" class="table-active">Icotec Colombia sas</td>
        <td>Site Enginner</td>
        <td>Realizar las auditorias a las instalaciones de los proyectos nuevos para el vendor Huawei proyectos del operador Movistar; implementacion de proyectos tecnologias ADSL, SDH, DWDM, WIRELLES</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2" class="table-active">Dico Telecomunicaciones sas</td>
        <td>Lider de cuadrilla (Comisionador)</td>
        <td>Realizar las actividades coordianado el equipo de trabajo asignado en la instalacion de los diferentes proyectos con el vendor Huawei technmlogies; implementacion de proyectos tecnologias ADSL, SDH, DWDM, WIRELLES </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2" class="table-active">Ericsson Colombia</td>
        <td>Responsable de mantenimiento en campo II</td>
        <td>Realizar el mantenimiento de los equipos y atencion de fallas de las tecnologias de comunicacion movil y fija en  tecnologias ADSL, SDH, DWDM, WIRELLES para el operador Movistar </td>
      </tr>
    </tbody>
  </table>
</div>