<div class="container mt-5">
<table class="table table-dark">
    <thead>
      
    </thead>
    <tbody>
      <tr class="table-active">
    
      </tr>
      <tr>
        <th scope="row">Item</th>
        <td colspan="2" class="table-active"> Nombre del Curso </td>
        <td> Institutcion</td>
        <td> Estado</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td colspan="2" class="table-active">Diplomado en desarrollo web Frontend </td>
        <td>Colsubsidio/Bictia</td>
        <td>Terminado</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="2" class="table-active">Diplomado en desarrollo web Backend</td>
        <td>Colsubsio/Bictia</td>
        <td>Terminado</td>
      </tr>
      <tr class="img">
        <th scope="row">3</th>
        <td colspan="2" class="table-active">Tecnologia en Analisis y desarrollo de sistemas de informacion</td>
        <td>SENA</td>
        <td>En Curso</td>
      </tr>
    </tbody>
  </table>
</div>